html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.3s;
}

.header-scroll {
    background-color: #0D2336;
    box-shadow: 0px 1px 10px rgba(45, 116, 179, 0.15);
    transition: background-color 0.3s;
}

.header__menu {
    display: flex;
    list-style: none;
    flex-grow: 1;
    padding: 0;
    align-items: center;
    justify-content: end;

    max-width: 825px;
}

main {
    margin-top: 124px;
    flex-grow: 1;
}

.landing-main {
    margin-top: 0;
}

.file {
    display: flex;
    align-items: center;
}

.file__icon {
    width: 30px;
    margin-right: 5px;
}

.file__download-button {
    text-decoration: none;
    margin-left: auto;
}

.file__name {
    font-size: 16px !important;
}

.header__logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 105%;
    margin-top: 18px;
    margin-bottom: 18px;

    color: white;
    display: flex;
    align-items: center;
}

.header__logo-picture {
    margin-right: 5px;
    width: 40px;
}

.header__menu__item {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 105%;
    margin-left: 25px;
    position: relative;
}

.header__menu__item > a {
    color: white;
    text-decoration: none;
    align-items: center;
}

.submenu {
    position: absolute;
    display: none;
    width: fit-content;
}

.submenu > ul {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    list-style-type: none;
}

.submenu > ul > li {
    line-height: 200%;
}

.submenu::before {
    content: '';
    margin-left: 2px;
    display: block;
    width: 40px;
    height: 20px;
    background: url('../assets/images/arrow.png');
}

.header__submenu__item > a {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.footer {
    background-color: #1B1B1B;
    text-align: center;

    width: 100%;
    height: 200px;
}

.footer__logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 105%;

    color: #ffffff;

    padding-top: 30px;
}

.footer__copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.content {
    width: 100%;

    max-width: 1320px;

    margin: 0 auto;
}

.primary-button {
    background: #ffffff;

    height: fit-content;
    
    outline: none;
    border: 2px solid #0F920F;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 105%;

    padding: 13px 32px;

    color: #0F920F;

    cursor: pointer;
    transition: background 0.2s;
}

.primary-button:hover {
    background: #0F920F;
    color: #ffffff;
    transition: background 0.2s;
}

.main-title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 3vw;
    line-height: 125%;

    text-align: center;
    padding-top: 100px;
    margin-top: 0;

    color: white;
}

.primary-title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 28px;
    line-height: 125%;

    text-align: center;
    margin-top: 0;

    color: black;
    text-align: left;
}

.primary-title::before {
    content: '';
    display: block;
    width: 60px;
    height: 10px;
    background-color: #2D74B3;
    margin-bottom: 10px;
}

.without-line::before {
    display: none;
}

.primary-subtitle {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 22px;
    line-height: 125%;

    text-align: center;

    color: black;
    text-align: left;
}

.text-line {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 125%;

    text-align: center;
    margin-top: 0;

    color: black;
    text-align: left;
}

.title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2vw;
    line-height: 105%;

    text-align: center;

    color: white;
}

.text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 160%;

    color: #5B5E6D;
}

.card {
    background: #0D2336;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 23px 48px;

    width: 100%;
    max-width: 420px;
}

.card:hover {
    background-color: #1A821A;
    transition: 0.3s;
}

.card__photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    margin-right: 10px;
}

.card__title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    margin: 0;

    color: white;
}

.card__subtitle {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    margin: 0;

    color: white;
}

.card__header {
    display: flex;
    align-items: center;
}

.card__body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;

    color: white;
}

.card__name-panel > * {
    margin: 0;
}

.map {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 950px;
    position: relative;
    margin: 0 auto;
}

.map__marker {
    width: 47px;
    height: 47px;
    background: rgba(5, 85, 255, 0.24);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.map__marker:hover + .card {
    display: block;
}

.map__marker + .card {
    display: none;
}

.map__marker::after {
    width: 27px;
    height: 27px;
    background: url('../assets/images/marker.svg');
    content: '';
    display: block;
    position: absolute;
}

.burger-button {
    display: none;
    position: absolute;
    left: 10px;
    top: 32px;
    cursor: pointer;
}

.burger-button > * {
    transition: 0.4s all;
}

.line {
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
}

body {
    margin: 0;
}

input[type='checkbox'] {
    display: none;
}

.button-control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.button-control__action-button {
    background: #ffffff;

    height: fit-content;
    
    outline: none;
    border: 2px solid #0F920F;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 105%;

    padding: 13px 32px;

    color: #0F920F;

    cursor: pointer;

    margin-left: 4px;
}

.maps-container {
    width: 100%;
}

.active {
    background-color: #0F920F;
    color: white;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: #FFFFFF;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.7s ease-in-out;
}

.loading__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    line-height: 105%;

    color: #000000;
}

.loading__progressbar {
    width: 50px;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.info-panel {
    background: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 50px;
    padding-top: 74px;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 80px;
}

.underline::before {
    content: '';
    display: block;
    width: 60px;
    height: 10px;
    background-color: #2D74B3;
    margin-bottom: 10px;
}

.project__left {
    background-color: #fff;
}

.project__right {
    background-color: #CCE6FF;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
}

.project__right > * {
    max-width: 70%;
}

.project__number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 140%;
    color: #1B66A8;
}

.project__number > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #909090;
}

.invest-field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 20px;
}

.invest-field__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2D74B3;
    padding-left: 20px;
    padding-right: 20px;
}

.invest-field__left > * {
    font-family: 'Inter';
    color: white;
}

.invest-field__left > h2 {
    font-weight: 100;
}

.invest-field__right {
    background-color: #2D74B3;
    width: 100%;
    height: 100%;
    filter: contrast(0.5);
}

.project-page {
    margin-top: 40px;
    font-size: 28px;
}

.prom {
    display: flex;
    border-bottom: 1px solid silver;
    margin-bottom: 25px;
    margin-top: 25px;
}

.prom img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.prom * {
    font-family: 'Inter';
}

.prom h1 {
    margin-top: 0;
}

.business {
    display: flex;
}

.business__right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.business__left-side {
    width: 70%;
    margin-right: 30px;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 1001px) {
    .header__menu__item:hover > .submenu {
        display: block !important;
    }
}

@media (max-width: 1350px) {
    .content {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .map {
        width: 100%;
    }

    .card__title {
        font-size: 18px;
    }

    .card__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #0D2336;
        z-index: 2;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .business {
        flex-direction: column;
    }

    .business__left-side {
        width: 100%;
    }

    .main-title {
        margin-top: 8vw;
    }

    .header__menu__item:hover > .submenu {
        display: none;
    }

    .submenu > ul {
        background: #0D2336;
    }

    .submenu {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header > ul > li > .submenu {
        position: static;
        display: none;
    }

    .submenu::before {
        display: none;
    }

    .menu-arrow {
        display: block;
        background: url('../assets/images/submenu_arrow.svg');
        width: 10px;
        height: 10px;
    }

    .submenu > ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .header__submenu__item > a {
        color: silver;
    }

    .map {
        width: 100%;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 0;
    }

    .header__logo {
        margin: 20px 0 20px 0;
    }

    .header__menu__item {
        flex-direction: column;
        line-height: 200%;
        margin-left: 0;
        align-items: center;
    }

    input:checked + .header * {
        display: flex;
    }

    input:checked + .header {
        height: 100vh;
    }

    .header * {
        display: none;
    }

    .header__logo {
        display: flex;
        font-size: 26px;
    }

    .footer__logo {
        font-size: 26px;
    }

    .burger-button {
        display: block;
        position: fixed;
        z-index: 10;
    }

    .title {
        font-size: 16px;
    }

    .text {
        font-size: 12px;
    }

    .button-control {
        z-index: 1;
    }

    .button-control__action-button {
        font-size: 12px;
        padding: 10px;
    }

    .info-panel {
        background-repeat: no-repeat;
    }
}

@media (max-width: 750px) {
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }

    body > .header {
        margin: 0;
    }

    .map {
        width: 100%;
    }
    .card {
        /* position: fixed;
        top: 0;
        left: 0;
        z-index: 999; 
        font-size: 12px;*/
    }
    .loading__title {
        font-size: 5vw;
    }
}

@media (max-width: 610px) {
    .button-control {
        display: grid;
        grid-gap: 2px;
    }

    .main-title {
        font-size: 24px;
    }

    .content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .map__element .card {
        visibility: hidden;
    }

    .dialog {
        border-radius: 0;
    }
}

.landing-field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-bottom: 60px;
}

.landing-field * {
    width: auto;
}

.dialog {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    max-width: none;
    display: none;
    box-sizing: border-box;
}

.close {
    width: fit-content;
    margin-left: auto;
    font-size: 18px;
}

.burger-expanded {
    margin-top: 7px;
}

.burger-expanded > * {
    display: none;
}

.burger-expanded > :first-child {
    transform: rotateZ(45deg);
    display: block;
}

.burger-expanded > :last-child {
    transform: rotateZ(-45deg);
    display: block;
    margin-top: -10px;
}

.menu-arrow {
    display: none;
    color: white;
    margin: 0;
    margin-right: 10px;
}